In [5]:
import pandas as pd 
import numpy as np

In [68]:
#series = pd.Series([1,"Name", 2, "Test1", "Test2", 3.4]) #mixture of int and string
series = pd.Series([ 4, 5, 6,1, 2, 3], dtype = np.int16) #type specified

In [70]:
def mul(e):
    return e*10

In [71]:
series.map(mul)

0    40
1    50
2    60
3    10
4    20
5    30
dtype: int64

In [58]:
series

0    4
1    5
2    6
3    1
4    2
5    3
dtype: int16

In [59]:
series.index = ["a","b","c","d","e","f"]

In [60]:
series

a    4
b    5
c    6
d    1
e    2
f    3
dtype: int16

In [61]:
series.dtype

dtype('int16')

In [62]:
series[2] #single index

6

In [63]:
series[1:5]  #slicing

b    5
c    6
d    1
e    2
dtype: int16

In [64]:
series[[0,3,5]] #random order

a    4
d    1
f    3
dtype: int16

In [65]:
series.sort_values(ascending=False, inplace=True)

In [66]:
series

c    6
b    5
a    4
f    3
e    2
d    1
dtype: int16

In [67]:
series.reset_index() #has the original index

  index  0
0     c  6
1     b  5
2     a  4
3     f  3
4     e  2
5     d  1

In [55]:
series.reset_index(drop = True) #Drops the original index

0    6
1    5
2    4
3    3
4    2
5    1
dtype: int64